<div class="container">
	<div class="row">
		<div class="col-lg-3"></div>
		<div class="col-lg-6">
			<header>
				<h1>Welcome to <span class="glyphicon glyphicon-book"></span><strong>Bookers!!</strong></h1>
			</header>

			<main class="clearfix">
				<div>
					<p>In <span class="glyphicon glyphicon-book"></span><strong>Bookers</strong>,</p>
					<p>you can share and exchange your opinions , inpressions , and emotions</p>
					<p>about varioius books!</p>
					<p><span class="btn btn-info col-lg-11 col-lg-offset-1"><%= link_to "Log in", new_user_session_path %></span></p>
					<p><span class="btn btn-success  col-lg-11 col-lg-offset-1"><%= link_to "Sign up", new_user_registration_path %></span></p>
				</div>
			</main>
		</div>
		<div class="col-lg-3"></div>
	</div>
</div>
