/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

nav ul, nav li {
	display: inline;
  margin-right: 1em;
}

.navbar-left {
  padding-top: 10px;
	font-size: 20px;
  color: #fff;
}

.navbar-right {
  padding-top: 15px;
  color: gray;
}

.nav-li {
 color: gray;
}

.body {
	padding-top: 80px;
}

table {
  width: 100%;
}

table td,th {
  border-color: #ddd;
}

.white-text {
  color: #fff;
}

.padding-left {
  margin-left: 30px;
}

.books-text th {
  border-top: none;
  border-bottom-style: solid;
}

.books-text td {
  border-top-style: solid;
  border-top-width: thin;
}

.wide100 {
  width: 100%;
}